In [105]:
import holidays
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

In [109]:
holidays_set = []
for date in holidays.Egypt(years=[2019, 2020, 2021]).items():
    #print(date[0])
    holidays_set.append(date[0])

In [114]:
holidays_set

[datetime.date(2019, 1, 1),
 datetime.date(2019, 1, 7),
 datetime.date(2019, 1, 25),
 datetime.date(2019, 4, 28),
 datetime.date(2019, 4, 29),
 datetime.date(2019, 4, 25),
 datetime.date(2019, 5, 1),
 datetime.date(2019, 10, 6),
 datetime.date(2019, 6, 30),
 datetime.date(2019, 7, 23),
 datetime.date(2019, 6, 4),
 datetime.date(2019, 6, 5),
 datetime.date(2019, 6, 6),
 datetime.date(2019, 8, 10),
 datetime.date(2019, 8, 11),
 datetime.date(2019, 8, 12),
 datetime.date(2019, 8, 13),
 datetime.date(2019, 8, 31),
 datetime.date(2019, 11, 9),
 datetime.date(2020, 1, 1),
 datetime.date(2020, 1, 7),
 datetime.date(2020, 1, 25),
 datetime.date(2020, 4, 19),
 datetime.date(2020, 4, 20),
 datetime.date(2020, 4, 25),
 datetime.date(2020, 5, 1),
 datetime.date(2020, 10, 6),
 datetime.date(2020, 6, 30),
 datetime.date(2020, 7, 23),
 datetime.date(2020, 5, 24),
 datetime.date(2020, 5, 25),
 datetime.date(2020, 5, 26),
 datetime.date(2020, 7, 30),
 datetime.date(2020, 7, 31),
 datetime.date(2020, 8, 1),
 datetime.date(2020, 8, 2),
 datetime.date(2020, 8, 20),
 datetime.date(2020, 10, 29),
 datetime.date(2021, 1, 1),
 datetime.date(2021, 1, 7),
 datetime.date(2021, 1, 25),
 datetime.date(2021, 5, 2),
 datetime.date(2021, 5, 3),
 datetime.date(2021, 4, 25),
 datetime.date(2021, 5, 1),
 datetime.date(2021, 10, 6),
 datetime.date(2021, 6, 30),
 datetime.date(2021, 7, 23),
 datetime.date(2021, 5, 13),
 datetime.date(2021, 5, 14),
 datetime.date(2021, 5, 15),
 datetime.date(2021, 7, 19),
 datetime.date(2021, 7, 20),
 datetime.date(2021, 7, 21),
 datetime.date(2021, 7, 22),
 datetime.date(2021, 8, 9),
 datetime.date(2021, 10, 18)]

In [80]:
data = pd.read_csv('bank_traffic_data.csv')

In [81]:
type(data.iloc[0]['timestamp'])

str

In [82]:
no_count = data[data['count'] == 0]
no_count.head()

                    timestamp  count  window
1   2019-09-27 02:00:00+02:00      0       1
2   2019-09-28 02:00:00+02:00      0       1
8   2019-10-04 02:00:00+02:00      0       1
9   2019-10-05 02:00:00+02:00      0       1
15  2019-10-11 02:00:00+02:00      0       1

In [83]:
no_count['timestamp']

1        2019-09-27 02:00:00+02:00
2        2019-09-28 02:00:00+02:00
8        2019-10-04 02:00:00+02:00
9        2019-10-05 02:00:00+02:00
15       2019-10-11 02:00:00+02:00
                   ...
10003    2021-07-22 02:00:00+02:00
10004    2021-07-23 02:00:00+02:00
10005    2021-07-24 02:00:00+02:00
10011    2021-07-30 02:00:00+02:00
10012    2021-07-31 02:00:00+02:00
Name: timestamp, Length: 3598, dtype: object

In [85]:
no_count['timestamp'] = pd.to_datetime(no_count['timestamp']).dt.date
no_count.head()

     timestamp  count  window
1   2019-09-27      0       1
2   2019-09-28      0       1
8   2019-10-04      0       1
9   2019-10-05      0       1
15  2019-10-11      0       1

In [86]:
type(no_count.iloc[0]['timestamp'])

datetime.date

In [87]:
no_count.tail()

        timestamp  count  window
10003  2021-07-22      0      15
10004  2021-07-23      0      15
10005  2021-07-24      0      15
10011  2021-07-30      0      15
10012  2021-07-31      0      15

In [88]:
from datetime import datetime
datetime(year=2021,month=7, day=22).weekday()

3

In [112]:
type(no_count.iloc[0]['timestamp'])

datetime.date

In [113]:
no_count.iloc[0]['timestamp']

datetime.date(2019, 9, 27)

In [89]:
no_count.iloc[0]['timestamp'].weekday()

4

In [118]:
i = 0
for idx, row in no_count.iterrows():
    if (row['timestamp'] not in holidays_set or row['timestamp'].weekday() not in [4, 5]):
        # print(row['timestamp'])
        # i += 1
        pass
    else:
        print(row['timestamp'])
        i += 1
i

AttributeError: 'datetime.date' object has no attribute 'dayofweek'